<div class="entry">
	<mat-card appearance="outlined" class="form-wrapper">
		<mat-card-content>
			<form
				[formGroup]="isLogin ? loginForm : signupForm"
				(submit)="isLogin ? submitLoginForm() : submitSignupForm()"
				class="form-fields-wrapper">
				<mat-form-field>
					<mat-label>Login: </mat-label>
					<input
						matInput
						placeholder="Login..."
						required
						type="text"
						formControlName="login" />
				</mat-form-field>

				<mat-form-field>
					<mat-label>Password: </mat-label>
					<input
						matInput
						type="password"
						placeholder="Password..."
						required
						formControlName="password" />
				</mat-form-field>

				<mat-form-field *ngIf="!isLogin">
					<mat-label>Repeat password: </mat-label>
					<input
						matInput
						type="password"
						placeholder="Repeat password..."
						required
						formControlName="passwordRepeat" />
				</mat-form-field>

				<mat-card-actions>
					<button
						mat-stroked-button
						type="submit"
						[disabled]="
							isLogin
								? loginForm.invalid
								: signupForm.invalid ||
								  signupForm.value.password !== signupForm.value.passwordRepeat
						">
						{{ isLogin ? "Login" : "Sign up" }}
					</button>
				</mat-card-actions>

				<p>
					{{ isLogin ? "Not a member yet?" : "Already a member?" }}
					<span (click)="isLogin = !isLogin" class="action-button">
						{{ isLogin ? "Sign up" : "Log In" }}
					</span>
				</p>
			</form>
		</mat-card-content>
	</mat-card>
</div>
