<section class="home-page-wrapper">
	<header class="header">
		<nav class="navbar-wrapper">
			<div class="greetings">
				<h4>Welcome, {{ userLogin }}!</h4>
			</div>
			<button
				class="nav-buttons"
				mat-stroked-button
				*ngFor="let item of navHeaders"
				(click)="navigate(navLinks[item])">
				{{ item }}
			</button>
			<button
				mat-raised-button
				class="update-products-button"
				(click)="updateProducts()">
				UPDATE PRODUCTSS
			</button>
			<button
				mat-raised-button
				class="update-products-button"
				(click)="logout()">
				LOG OUT
			</button>
		</nav>
	</header>
	<div class="products">
		<app-product
			*ngFor="let item of receivedProducts | async"
			[name]="item.name"
			[desc]="item.description"
			[img]="item.imglink"
			[price]="item.price"
			[cartItems]="cartItems" />
	</div>
</section>
